<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/home-page.css">
    <title>BrokerPro</title>
</head>
<body>
<div class="page">
    <header class="header container">
        <div class="header-logo">
            <a href="home-page.html">
                <img src="images/BrokerPro.png" alt="BrokerPro">
            </a>
        </div>

        <nav class="header-nav">
            <ul>
                <li><a href="collection.html">Стандартный</a></li>
                <li><a href="collection.html">Рефрижераторный</a></li>
                <li><a href="collection.html">High-Cube</a></li>
            </ul>
        </nav>

        <div class="header-auth">
            <a href="register-modal-window.html">
                <button class="button-register">Зарегистрироваться</button>
            </a>
            <a href="login-modal-window.html">
                <button class="button-logo">Войти</button>
            </a>
        </div>
    </header> <!-- Конец Header -->

    <header class="preview container">
        <div class="preview-img">
            <img src="../images/preview-image.jpg" alt="BrokerPro">
            <div class="preview-text">
                <h1>BrokerPro</h1>
                <p>Ваш надежный партнер в логистике</p>
            </div>
        </div>
    </header> <!-- Конец Preview -->

    <main class="content container">
        <h1>Категории контейнеров</h1>
        <div class="content-works">
            <div class="content-work">
                <h2>Standard</h2>
                <img src="/images/art.jpg" alt="Standard Containers">
                <p>Стандартные контейнеры подходят для перевозки различных видов грузов. Они надежны, универсальны и широко используются в промышленности. Бывают двух типов.</p>
                <button class="button-logo" onclick="window.location.href='collection.html';">Подробнее</button>
            </div>
            <div class="content-work">
                <h2>Reefer</h2>
                <img src="/images/e-art.jpg" alt="Reefer Containers">
                <p>Рефрижераторные контейнеры обеспечивают поддержание заданной температуры для перевозки скоропортящихся товаров, таких как продукты питания и лекарства.</p>
                <button class="button-logo" onclick="window.location.href='collection.html';">Подробнее</button>
            </div>
            <div class="content-work">
                <h2>High-Cube</h2>
                <img src="/images/sculpture.jpg" alt="High-Cube Containers">
                <p>Контейнеры High-Cube предоставляют дополнительное пространство для объемных грузов, идеально подходя для перевозки крупногабаритных товаров.</p>
                <button class="button-logo" onclick="window.location.href='collection.html';">Подробнее</button>
            </div>
        </div>
    </main>

    <main class="comment container">
        <div class="commentary">
            <h3> Компания <span class="studio-name">BrokerPro</span> предоставляет услуги по бронированию контейнеров, сопровождению, подбору поставщиков </h3>
            <p>Наша цель - обеспечить надежное и эффективное планирование перевозки логистики по всему миру.</p>
            <p>Мы предлагаем контейнеры для любых типов грузов: стандартные, рефрижераторные, а также повышенной вместимости. Все контейнеры соответствуют международным стандартам.</p>
            <p><strong>BrokerPro</strong> - это команда профессионалов, которые готовы помочь вам с организацией логистики и подбором подходящего решения для вашего бизнеса.</p>
            <p>Присоединяйтесь к нам и сделайте ваши грузоперевозки простыми и удобными!</p>
            <h3>С любовью, команда <span class="studio-name">BrokerPro</span>.</h3>
        </div>
    </main>


    <main class="videos container">
        <div class="content-videos">
            <div class="content-text">
                <h1>Стандартные контейнеры (Standard)</h1>
                <p>Стандартные контейнеры — это универсальное решение для транспортировки различных видов грузов. Они имеют стандартные размеры, такие как 20 и 40 футов, что делает их совместимыми с большинством видов транспортных средств, включая морские суда, грузовые автомобили и железнодорожные платформы. Их прочная конструкция защищает содержимое от внешних воздействий, таких как дождь, ветер или механические повреждения. Стандартные контейнеры используются в логистике для перевозки товаров массового спроса, текстиля, оборудования и других грузов, не требующих специального температурного режима.</p>
            </div>
            <div class="content-video">
                <img src="/images/art.jpg" alt="Standard Containers">
            </div>
        </div>
        <div class="content-videos">
            <div class="content-text">
                <h1>Рефрижераторные контейнеры</h1>
                <p>Рефрижераторные контейнеры оснащены системами охлаждения и поддержания заданной температуры, что делает их незаменимыми для перевозки скоропортящихся товаров. Они используются для транспортировки фруктов, овощей, мяса, морепродуктов, лекарств и химических веществ, чувствительных к перепадам температуры. Температурный диапазон может варьироваться от -25°C до +25°C, что позволяет перевозить даже замороженные продукты. Благодаря встроенной системе контроля температуры и вентиляции, рефрижераторные контейнеры обеспечивают максимальную сохранность качества грузов на всех этапах логистической цепочки.
                </p>
            </div>
            <div class="content-video">
                <img src="/images/e-art.jpg" alt="Reefer Containers">
            </div>
        </div>
        <div class="content-videos">
            <div class="content-text">
                <h1>Контейнеры High-Cube</h1>
                <p>High-Cube контейнеры отличаются увеличенной высотой (около 9,6 футов), что предоставляет больше внутреннего объема по сравнению со стандартными контейнерами. Это идеальный выбор для перевозки крупногабаритных или объемных грузов, таких как строительные материалы, промышленное оборудование, мебель и изделия, которые сложно разместить в стандартных контейнерах. Они особенно востребованы при организации международных перевозок, так как обеспечивают оптимизацию пространства при минимальных затратах. Кроме того, их конструкция позволяет легко загружать и выгружать товары с использованием специальной техники.</p>
            </div>
            <div class="content-video">
                <img src="/images/sculpture.jpg" alt="High-Cube Containers">
            </div>
        </div>
    </main>

    <footer class="footer container">
        <div class="footer-logo">
            <img src="/images/butterfly-logo.svg" alt="BrokerPro">
            <h1>BrokerPro</h1>
        </div>
        <div class="footer-contact">
            <p>Переулок Островского 47А, Ростов-на-Дону, Россия</p>
            <p>+7 (928) 193-90-93 </p>
            <p>it1@brokerpro.ru</p>
        </div>
    </footer>
</div> <!-- Конец Page -->
</body>
</html>
