:root {
    --text-color: #477688;
    --primary-color: #487b8e;
    --secondary-color: #edfbff;
    --box-color: #a0c4e2;
    --footer-color: #c2dbef;
    --background-color: #edfbff;
    --logo-color: #a0c4e2;
    --logo-active-color: #c6dbf0;
}